body {
  background: #019875;
  font-family: 'Titillium Web', sans-serif;
  color: #C8F7C5;
  line-height: 170%;
}

.t-center {
  text-align: center;
}

.t-underline {
  text-decoration: underline;
}

.f-size-1_5 {
  font-size: 1.5em;
}

#nav-ul {
  list-style: none;
  padding-left: 0px;
  position: fixed;
  background-color: rgba(200, 247, 197, 0.4);
  padding: 10px;
  margin-left: 1%;
}

.list-inline {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-left: 0px;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.border-radius-tl-br {
  border-radius: 15px 0 15px 0;
}

.link-nodeco {
  text-decoration: none;
  color: #C8F7C5;
}

.link-nodeco:hover {
  text-decoration: underline;
}

.card {
  box-shadow: 1px 2px #C8F7C5;
  padding: 20px;
  text-align: justify;
  background-color: rgba(200, 247, 197, 0.1);
  margin-bottom: 70px;
}

#container {
  width: 70%;
  margin: 0 auto;
}

#ma-trombine {
  margin: 0 auto;
  width: 12em;
}

h1, h2, h3 {
  font-family: 'Lobster Two', cursive;
  font-size: 2.5em;
  line-height: 35%;
}

table, td {
  padding: 15px 30px;
  margin: 0 auto;
}

#help {
  font-size: 0.8em;
  line-height: 80%;
  margin-top: 120px;
}
